{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 class="welcome-header" style="color:blue">Enter your new password</h2>
    <br><br>
    <form method = "POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.password.label() }}
            {{ form.password }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label() }}
            {{ form.confirm_password }}
        </div>
        <button type="submit" class="btn btn-sm btn-secondary">Reset</button>
        
        <div class="checkbox mb-3">
            <h6>Login</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Back</a>
        </div>
    </form>
</div>
{% endblock %}