{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<style>
    .container {
        max-width: 500px;
        /* Adjust the width as needed */
        margin: auto;
        /* Center the container */
        padding: 20px;
        /* Add some padding for aesthetics */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Optional: Adds a subtle shadow for better focus */
        background-color: white;
        /* Optional: Change if your background is light */
    }

    .welcome-header {
        color: #004085;
        /* A more visible color, adjust based on your page's theme */
    }

    .btn-secondary {
        color: #fff;
        /* Ensures text on buttons is visible */
        background-color: #007bff;
        /* Bootstrap primary color for better visibility */
        border-color: #007bff;
    }

    .form-group label {
        color: #495057;
        /* Making labels more visible */
    }

    .form-control {
        margin-bottom: 20px;
        /* Adds spacing between form inputs */
    }
</style>

<div class="container text-center">
    <h2 class="welcome-header">Enter your new password</h2>
    <br>
    <!-- Inside changePassword.html, within your form -->
    {% for error in form.password.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% for error in form.confirm_password.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}


    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.password.label() }}
            {{ form.password(class="form-control") }} <!-- Ensure form-control class for styling -->
        </div>
        <div class="form-group">
            {{ form.confirm_password.label() }}
            {{ form.confirm_password(class="form-control") }} <!-- Ensure form-control class for styling -->
        </div>
        <button type="submit" class="btn btn-sm btn-secondary">Reset</button>
    </form>
</div>
{% endblock %}