{% extends "base.html" %}

{% block title %}
Forget Password
{% endblock %}

{% block content %}
<style>
    .container {
        width: 50%;
        margin: auto;
        text-align: left;  
    }

    .welcome-header {
        color: aquamarine; 
        text-align: center;  
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-reset-password {
        padding: 8px 16px;  
        font-size: 14px;  
    }

    .btn-back {
        margin-top: 20px;  
    }
</style>

<div class="container">
    <h2 class="welcome-header">Forgot your password?</h2>
    <br><br>
    <form id="forgetPass" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-sm btn-secondary btn-reset-password">Reset</button>
        
        <div class="checkbox mb-3">
            <a class="btn btn-sm btn-secondary btn-back" href="{{ url_for('login_page') }}">Back</a>
        </div>
    </form>
</div>
{% endblock %}
