{% extends "base.html" %}

{%block title %}
    Welcome to SimplyStars 
{% endblock %}

{% block content %}
<!-- container is a bootstrap block to store contents -->
    <div class="container text-center"> 
        <h2 class="welcome-header">Welcome to NTU STARS Customizable Timetable</h2>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5mUetvRA2CD6WiMGKRxh6bIXHCfdcuVfOgw&usqp=CAU" alt="Welcome Image" class="img-fluid mb-3">
            </div>
        </div>
        <!-- 12 column layout -->
        <div class="col-md-12">
            <!-- browser sends a get request to the url -->
            <a href="{{ url_for('login_page') }}" class="btn btn-primary login-button">Login to Customize</a>
        </div>
{% endblock %}
