<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <!-- renders the label and input field -->
                {{ form.username.label() }}
                {{ form.username() }}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password() }}
            </div>
            <button type="submit" class="btn">Login</button>
            <a href="{{ url_for('register_page') }}" class="btn">Register</a>
        </form>
    </div>
</body>
</html>