<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>Add your course</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <!-- renders the label and input field -->
                {{ form.course_code.label() }}
                {{ form.course_code() }}
            </div>
            <div class="form-group">
                {{ form.add() }}
            </div>
        </form>
    </div>
</body>
</html>