<!--{% extends "base.html" %}-->

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    /* Override styles from base.html */
    body {
        background-color: var(--background-color) !important;
    }
</style>
{% endblock %}

{% block title %}
Main
{% endblock %}

{% block content %}

<div class="top-bar">
    <!-- Source: https://www.deviantart.com/doctor-g/art/Cute-Star-832369254 -->
    <!-- Url shortened with: https://t.ly/image/url-shortener-->
    <div class="welcome-bar">
        <img src="https://t.ly/Q54qQ" style="width:40px; margin-right:20px;">
        Welcome to SimplyStars!
    </div>
    <button id="help-button" class="help-button" onclick="help()">Help</button>
    <button id="logout-button" class="logout-button" onclick="logoutUser()">Logout</button>
</div>

<!-- Overlay (hidden by default) -->
<div id="overlay" style="display:none;">
    <div id="text">Generating...</div>
</div>


<div class="content-container">
    <div class="course_container">
        <!-- <h2>Your Courses</h2> -->
        <div class="login-container">
            <!-- <h2>Add your course</h2> -->
            <form id="courseForm" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group" style="white-space: nowrap;">
                    <!-- renders the label and input field -->
                    <!-- {{ form.course_code.label() }} -->
                    {{ form.course_code(class="rounded-pill", style="background-color: #0b2b42; color: white; padding-left: 10px;") }}
                    <button type="submit" style="border-radius: 50%; background-color:grey; padding-bottom:5px; padding-top:5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                        <span style="display: none;">{{ form.add.label }}</span>
                    </button>
                </div>
            </form>
        </div>

        <form action="/delete" method="POST">
            <h4 style="color: var(--text-color);">
                Courses:
                <button type="submit" id="clear-button">
                    Clear All
                </button>
            </h4>
        </form>
        <ul style="padding: 0; margin: 0;">
            {% for course in user_courses %}
            <li class="course-li">
                <div class="courselist">
                    {{ course.course_code }} ({{ course.course_au }}) <br>
                        <div style="font-size: 12px;">{{ course.course_name }}</div>
                    <!-- Delete button form -->
                    <form action="{{ url_for('ScheduleController.delete_course', course_code=course.course_code) }}" method="POST" style="display:inline;">
                        <input type="hidden" name="course_code" value="{{ course.course_code }}">
                        <!-- Source: https://icons.getbootstrap.com/icons/x-circle/ -->
                        <button aria-label='delete item' type='submit' class="removebutton"
                            style="width: 35px; height: 35px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

        <div class="timetable-container">
            <div class="filters">
                <div style="float: left; text-align: left; padding-left:30px;">
                    <form id="timeForm">
                        <input type="radio" id="morning" name="time" value="morning">
                        <label for="morning">Morning</label>
                        <br>
                        <input type="radio" id="afternoon" name="time" value="afternoon">
                        <label for="afternoon">Afternoon</label>
                    </form>
                </div>
                <div style="display: inline-block; text-align:center;">
                    <!--
                    <label for="num_days" style="display: inline-block; margin: 0 auto;">Select number of days:</label>
                    <select name="num_days" id="num_days" style="display: inline-block;">
                        <option value="">Please select</option> 
                        {% for num in range(2, 6) %}
                        <option value="{{ num }}">{{ num }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="checkbox" id="ignorelec" name="lecture" style="display: inline-block;">
                    <label for="ignorelec">Ignore Lectures</label>
                    -->
                </div>
                <button id="automateBtn">
                    Generate Timetable
                </button>
            </div>

            <table id="timetable" cellspacing="1" width="100%" bordercolor="#E0E0E0" style="color:white">
                <thead>
                    <tr>
                        <th>TIME\DAY</th>
                        {% for day in ['MON', 'TUE', 'WED', 'THU', 'FRI'] %}
                        <th>{{ day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for time_slot in schedule %}
                    <tr>
                        <td style="width: 100px; text-align: center;">{{ time_slot }}</td>
                        {% for day in ['MON', 'TUE', 'WED', 'THU', 'FRI'] %}
                        {% set day_schedule = weekly_schedules.get(day, {}).get(time_slot, []) %}
                        {% set rowspan = 1 %}

                        {% if day_schedule|length > 0 %}
                        <td style="width: 300px; height: 40px;" rowspan="{{ rowspan }}">
                            {% else %}
                        <td style="width: 300px; height: 40px;" rowspan="{{ rowspan }}">
                            {% endif %}
                            {% for class in day_schedule %}
                            {{ class['course'] }} ({{ class['index'] }}) | {{ class['type'] }}
                            <div class="tooltip">
                                ...
                                <div class="tooltiptext">
                                    {% for course in user_courses %}
                                        {% if course.course_code == class['course'] %}
                                            <div style="border-bottom: 2px solid #30363db3;">{{ course.course_name }}</div>
                                        {% endif %}
                                    {% endfor %}
                                    <div style="border-bottom: 2px solid #30363db3;">Course Code: {{ class['course'] }}</div>
                                    <div style="border-bottom: 2px solid #30363db3;">Type: {{ class['type'] }}</div>
                                    <div style="border-bottom: 2px solid #30363db3;">Index: {{ class['index'] }}</div>
                                    <div style="border-bottom: 2px solid #30363db3;">Group: {{ class['group'] }}</div>
                                    <div style="border-bottom: 2px solid #30363db3;">Venue: {{ class['venue'] }}</div>
                                    <div style="border-bottom: 2px solid #30363db3;">{{ class.get('remarks', '') }}</div>
                                </div>
                                    {% if day_schedule|length == 0 %}
                                    <!-- Empty cell for no class -->
                                    {% endif %}
                            </div>
                            <br>
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>

<!-- Error Modal for No Course Code -->
<div class="modal" id="noCourseModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <p>No course has been added.<br>Please add a course before automating the timetable.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Error Modal for No Time Preference -->
  <div class="modal" id="noPreferenceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <p>No time preference selected.<br>Please select your time preference.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

<!-- Course Already Added Modal -->
<div class="modal fade" id="courseAlreadyAddedModal" tabindex="-1" role="dialog" aria-labelledby="courseAlreadyAddedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="courseAlreadyAddedModalLabel">Course Already Added</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                The course you are trying to add has already been added.<br>Please add a different course.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Automation Unsuccessful Modal -->
<div class="modal fade" id="automationUnsuccessfulModal" tabindex="-1" role="dialog" aria-labelledby="automationUnsuccessfulModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="automationUnsuccessfulModalLabel">Automation Unsuccessful</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          Automation was unsuccessful.<br>Please change your preferences.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalLabel">Help</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: left; font-size: 14px;">
            <!-- Enter Help Information here-->
            <b>Navigation:</b>
            <br>1. Type a valid course code in the search bar and click on the search icon to Add course.
            <br>2. Courses added will show up in the schedule and the schedule displayed can be referenced for those with no time preferences
            <br>3. For those with time preference, click on morning or afternoon button to indicate preference before clicking on the “Generate Schedule” button
            <br>4. Hover over each course in schedule to get more details such as Course name, Course code, lesson type, Index, Venue, Teaching Week, etc.
            <br>5. Remove course can be done individually through the cross button or “Clear all” button
            <br><br>
            <b>FAQs</b>:
            <br><b>Q:</b> I have keyed in a valid course as seen in NTU Stars but it is not showing up on SimplyStars.
            <br><b>A:</b> The course you keyed in could be a new course or not available in the current semester. Please double confirm using NTU official platforms. Thank you for your patience.
            <br>
            <br><b>Q:</b> The page is not responsive (>250ms to display added course or >15 secs to generate schedule)
            <br><b>A:</b> Please refresh the page or login again. Should such an incident persist, email maintenance@e.simplystars.edu.sg for more assistance.
            <br>
            <br><b>Q:</b> There is incorrect information on the site. 
            <br><b>A:</b> Please double confirm with NTU official platforms and email maintenance@e.simplystars.edu.sg for error reporting after confirmation.
            <br>
            <br><b>Q:</b> Is my personal data safe on this site?
            <br><b>A:</b> Your data is securely and encryped to prevent data breach along with compliance with data protection regulation such as PDPA and GDPR.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#courseForm').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission

            $.ajax({
                url: '/main', // Make sure the URL is correct
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    // Assuming your backend correctly sets the response status
                    if (response.status === 'error') {
                        if (response.message === 'Course already added') {
                            // Specifically handle the 'Course already added' case
                            $("#courseAlreadyAddedModal").modal('show');
                        } else {
                            // Handle other error messages
                            alert(response.message); // Or use another modal/dialog to show different error messages
                        }
                    } else if (response.status === 'success') {
                        location.reload(); // Or other success behavior
                    }
                },
                error: function (xhr, status, error) {
                    // Handle HTTP error scenarios
                    console.error("Error: ", error);
                }
            });
        });
    });
</script>


<script>
    document.getElementById("timeForm").addEventListener("change", function () {
        const selectedTime = document.querySelector('input[name="time"]:checked').value;
        fetch("/set_time_preference", {
            method: "POST",
            body: JSON.stringify({ time: selectedTime }),
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>

<script>
    $(document).ready(function () {
        $("#automateBtn").click(function () {
            // Show the overlay
            $("#overlay").fadeIn(300);
    
            // Start the AJAX call to your Flask route
            $.ajax({
                url: "{{ url_for('AutomationController.automate_timetable') }}",
                type: 'GET',
                success: function (response) {
                    $("#overlay").fadeOut(300); // Move the overlay fade out to inside the callbacks
                    if (response.status === 'error') {
                        // Match the error message exactly as sent from the backend
                        if (response.message === 'No Course Added') {
                            $("#noCourseModal").modal('show');
                        } else if (response.message === 'No preference selected') {
                            $("#noPreferenceModal").modal('show');
                        } else if (response.message === 'Automation unsuccessful') {
                            $("#automationUnsuccessfulModal").modal('show');
                        }
                    } else {
                        location.reload();
                    }
                },
                error: function (xhr, status, error) {
                    // Correctly reference the message in the xhr response
                    $("#overlay").fadeOut(300);
                    var errorMsg = xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : "Unknown error";
                    if (errorMsg === 'No Course Added') {
                        $("#noCourseModal").modal('show');
                    } else {
                        // Handle other errors or show a generic error modal
                        alert("Error: " + errorMsg);
                    }
                }
            });
        });
    });
    
</script>

<script>
    function help() {
        $("#helpModal").modal('show');
    }
    </script>

<script>
    function logoutUser() {
        // Using Fetch API to send a POST request
        fetch('/logout', {
            method: 'POST',
            credentials: 'same-origin', // Include cookies
            headers: {
                'Content-Type': 'application/json',
                // Add CSRF token as required for POST requests
            }
        }).then(response => {
            if(response.ok) {
                window.location.href = '/login'; // Redirect to home on success
            } else {
                // Handle errors
                console.error('Logout failed.');
            }
        });
    }
    </script>
{% endblock %}