<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>Add your course</h2>
        <form id="courseForm" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <!-- renders the label and input field -->
                {{ form.course_code.label() }}
                {{ form.course_code() }}
            </div>
            <div class="form-group">
                {{ form.add() }}
            </div>
        </form>
    </div>

    <!-- AJAX is asynch JS and XML, used it to intercept form submission -->
    <script type="text/javascript">
        <!-- Ready is a function to only run the code after form is submitted -->
        $(document).ready(function() {
            $('#courseForm').on('submit', function(e) {
                e.preventDefault();  
    
                $.ajax({
                    url: 'main_page',  
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        if(response.status === 'success') {
                            $('ul').append('<li>' + response.new_course + '</li>');
                            $('#courseForm input[name="course_code"]').val('');
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

    <div class="Course List">
        <h2>Your Courses</h2>
        <ul>
            {% for course in user_courses %}
            <li>{{ course.course_code }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>