{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Register</h2>
    {% for message in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    <form method="POST" action="{{ url_for('register_page') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label() }}
            {{ form.username() }}
        </div>
        <div class="form-group">
            {{ form.email_address.label() }}
            {{ form.email_address() }}
        </div>
        <div class="form-group">
            {{ form.password.label() }}
            {{ form.password() }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label() }}
            {{ form.confirm_password() }}
        </div>
        <button type="submit" class="btn">Sign Up</button>
        <br>
        <br>
        <div class="checkbox mb-3">
            <h6>Already have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
        </div>
    </form>

</div>

{% endblock %}
