:root {
    --primary-color: #0a2940;          /* Darker Primary Color */
    --secondary-color: #0f3854;        /* Lighter Secondary Color */
    --background-color: #171e29;       /* Background Color */
    --topbar-color: #010409;           /* Top Nav Bar Backgroudnd Color */
    --topbar-button-color: #161B22;    /* Top Nav Bar Button Colors */
    --text-color: #ebeced;             /* Text Color for entire page (Muted/Softer White) */
    --timetable-hover-row: #051f33;    /* Color when hovering over timetable row */
    --timetable-hover-focus: #011321;  /* Color when hovering over timetable row + column = Current Cell */
}

.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Ensure it appears above other elements */
}

.top-bar {
    background-color: var(--topbar-color);
    height: 50px; 
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    border: #30363d;
    border-bottom: 2px solid #30363db3;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.welcome-bar {
    color: var(--text-color);
    height: 40px; 
    width:100%;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    position: absolute;
}

.help-button {  
    background-color: var(--topbar-button-color);
    color: var(--text-color);
    height: 40px; 
    right: 140px;
    display: flex;
    border-radius: 10px;
    font-size: 20px;    
    cursor: pointer;
    position: absolute;
    margin-right: 5px;
    padding: 20px;
    align-items: center;
    vertical-align: middle;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.logout-button {
    background-color: var(--topbar-button-color);
    color: var(--text-color);
    height: 40px; 
    right: 10px;
    margin-right: 20px;
    padding: 20px;
    font-size: 20px;    
    border-radius: 10px;
    display: flex;  
    cursor: pointer;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.logout-button:hover,
.logout-button:focus {
    background-color: #d32f2f; /* Darken color on hover */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24); /* Add a shadow to lift the button off the page */
}

.logout-button:active {
    background-color: #b71c1c; /* Even darker color when the button is clicked */
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24); /* Smaller shadow to give a pressed effect */
}

.content-container {
    margin-top: 10px;
    background-color: var(--background-color);
    display: flex;
    align-items: flex-start;
    padding-left: 20px; 
}

.course_container {
    padding: 10px; 
    background-color: var(--primary-color); 
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#clear-button {
    height: 35px;
    border-radius: 10px; 
    background-color: #30363d; 
    font-size:15px;
    color:var(--text-color);
    padding-left:10px; 
    padding-right:10px;
    font-weight: var(--base-text-weight-semibold, 600);;
    padding:5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    float: right;
}

.course-li {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center; 
    padding: 10px; 
    width: 230px; 
    word-wrap: break-word; 
    font-weight: bold;
    list-style-type: none; 
    border-radius: 10px; 
    margin-bottom: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.courselist {
    position: relative;
}

.removebutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: -12px;
}

.removebutton svg {
    width: 100%;
    height: 100%;
}

.bi.bi-x-circle:hover path {
    fill: red; /* Change the X color to red on hover */
}


.filters {
    color: var(--text-color);
    align-items: center;    
}

#automateBtn{
    color: var(--text-color);
    background-color: #048817;
    float: right; 
    font-size:25px; 
    font-weight: var(--base-text-weight-semibold, 600);
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.timetable-container {
    width: 98%; 
    max-width: 1250px; 
    padding-left: 2%;
    padding-right:2%;
    align-items: center;
    text-align: center;
}

#timetable {
    color: var(--text-color);
    top:-18px; /* Remove awkward spacing above */
    position:relative;
    border-collapse: separate;
    text-indent: initial;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: center;
    border-spacing: 1px;
    white-space: normal;
    font-variant: normal;
    font: 1em/1.55 Lato, Arial, sans-serif;
}

#timetable, #timetable th, #timetable td {
    border: 1px solid black;
}

#timetable th, #timetable td {
    font-size: 10px;
}

#timetable tr:nth-child(even) {
    background-color: var(--primary-color);
}

#timetable tr:nth-child(odd) {
    background-color: var(--secondary-color);
}

#timetable tr:hover td:hover {
    background-color: var(--timetable-hover-focus);
}

#timetable tr:hover {
    background-color: var(--timetable-hover-row); 
}

#timetable th {
    text-align: center;
    background-color: var(--primary-color); 
    color: var(--text-color);
    font-size: 10px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none;   /* Hidden by default */
    width: 100%;     /* Full width */
    height: 100%;    /* Full height */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a z-index elsewhere */
    cursor: pointer; /* Add a pointer on hover */
}

#text {
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/* Everything below is for tooltip styling */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    border-bottom: 1px dotted var(--text-color);
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: var(--text-color);
    text-align: center;
    
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: -50px;
    right: 40px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
  